-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: make sort
        language: system
        types: [python]

    -   id: flake8
        name: Flake8
        entry: pipenv run flake8
        language: system
        types: [python]

    -   id: black
        name: black
        entry: pipenv run black
        language: system
        types: [python]

    -   id: trailing-whitespace
        name: Trim Trailing Space
        entry: pipenv run trailing-whitespace-fixer
        language: system
        types: [non-executable, file, text]
        exclude_types: [svg]
        exclude: '(yarn|^(dist/)|__snapshots__|node_modules)'

    -   id: end-of-file-fixer
        name: Fix End of Files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: pipenv run end-of-file-fixer
        language: system
        types: [non-executable, file, text]
        exclude_types: [svg]
        exclude: '(yarn|^(dist/)|__snapshots__|node_modules)'

    -   id: check-merge-conflict
        name: Check for merge conflicts
        description: Check for files that contain merge conflict strings.
        entry: pipenv run check-merge-conflict
        language: system
        stages: [push]

    -   id: codespell
        name: Check Spelling
        description: Checks for common misspellings in text files.
        entry: pipenv run codespell
        language: system
        types: [non-executable, file, text]
        exclude_types: [svg]
        exclude: 'Countries|const.py'
        stages: [push]

    -   id: htmllint
        name: HTML Linter
        description: Checks for HTML syntax errors.
        entry: pipenv run html_lint.py
        language: system
        types: [non-executable, file, text]
        exclude_types: [svg]
        stages: [push]
