version: 2.1

workflows:
  python-php-tests:
    jobs:
      - python-tests
      - php-tests


jobs:
  python-tests:
      working_directory: ~/localizations
      docker:
        - image: circleci/python:3.8
      steps:
        - checkout
        - run:
            name: Install spell checkers for different languages
            command: |
              sudo apt-get install aspell aspell-en aspell-ro aspell-sl
              touch .installed
        - restore_cache:
            keys:
              - localizations-v1-{{ .Branch }}-{{ checksum "poetry.lock" }}
              - localizations-v1-
        - run:
            name: Install Python tests dependencies
            command: |
              pip install pip --upgrade
              poetry run pip install pip --upgrade
              poetry install
        - save_cache:
            key: localizations-v1-{{ .Branch }}-{{ checksum "poetry.lock" }}
            paths:
              - ./.venv
              - ../.cache
        - run:
            name: Run Python Tests
            command: |
              poetry run black .circleci/validate.py --check
              make lint
              make types
              make validate

  php-tests:
    working_directory: ~/localizations
    docker:
      - image: circleci/php:7.4
    steps:
      - checkout
      - run:
          name: Install PHP tests dependencies
          command: |
            composer require symfony/yaml
      - run:
          name: Run PHP Tests
          command: |
            php -f .circleci/validate.php
